@import "tailwindcss";

@theme {
    --font-fredoka: var(--font-fredoka);
    --color-brand-pink: #E91E63;
}

body {
    font-family: var(--font-fredoka), sans-serif;
    font-size: 16px; /* Base size for mobile */
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-down {
    animation: fade-in-down 0.5s ease-out;
}